body {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: black;
}

header,
footer {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none; /* Убрали стандартное подчеркивание ссылок */
  border-bottom: 1px solid black; /* Добавили линию снизу */
}

address {
  min-width: 240px;
  line-height: 24.3px;
  font-style: normal;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", bold, "Arial", sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
  color: white;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: black;
  text-transform: uppercase;
}

header {
  margin: 93px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

header address {
  justify-self: end;
}

.header__menu-list {
  width: 100%;
  line-height: 21.3px;
  text-transform: lowercase;
  display: flex;
  list-style-type: none;
}

/* Класс неподчеркнутых ссылок, например, кнопок*/
.link-without-border {
  border-bottom: 0;
}

/* Убираем подчеркивание у активной ссылки */
.menu-link-active {
  border-bottom: 0;
}

/* Центрируем элемент списка меню по вертикали */
.header__menu-list li {
  display: flex;
  align-items: center;
}

/* Псевдокласс перед элементом списка меню, рисуем кружочек */
.header__menu-list li::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  border: 0.5px solid black;
  margin: 4px 12px 0 12px;
}

/* У первого элемента меню не отображаем кружочек*/
.header__menu-list li:first-child::before {
  display: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  padding: 165px 50px 50px 50px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__content {
  position: relative;
}

h1 span:nth-child(2) {
  text-align: center;
  margin: 20px -0.3em 20px 0;
}

h1 span:nth-child(3) {
  text-align: right;
  margin-right: -0.3em;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  color: white;
  text-transform: uppercase;
  word-spacing: 19px;
}

.cover__description-button {
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  letter-spacing: 0%;
  text-align: center;
  color: white;
  text-transform: uppercase;
  border: 1px solid currentColor;
  background-color: transparent;
  padding: 12px 32px 11px 31px;
}

.lots {
  margin: 180px 24px 120px;
}

.lots__heading {
  text-indent: 40px;
}

.lots__card-list {
  margin: 27px 0 30px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  justify-content: stretch;
}

.card {
  position: relative;
  min-height: 596px;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  color: white;
  z-index: 1;
}

.card__text {
  color: white;
  z-index: 1;
}

.lots__look-more-link {
  line-height: 23.48px;
  text-transform: lowercase;
  margin-left: 40px;
}

.about {
  margin: 0px 24px 180px;
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 275px auto;
  column-gap: 25px;
  grid-template-areas:
    "logo title"
    ". text";
}

.about__logo {
  grid-area: logo;
  /*  Размещаем черный круг по центру снизу */
  justify-self: center;
  align-self: end;
  /* Выравниваем логотип внутри черного круга */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Задаём круглый чёрный фон */
  height: 240px;
  width: 240px;
  background-color: black;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  grid-area: title;
  padding-top: 136px;
}

.about__text {
  grid-area: text;
}

.about__text p:first-child {
  margin-top: 6px;
  margin-bottom: 24px;
}

.footer {
  padding: 0 50px 82px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
}

footer address {
  justify-self: start;
}

.footer__menu-list {
  min-width: 164px;
  text-transform: lowercase;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social-list {
  min-width: 240px;
  justify-self: end;
  display: flex;
  justify-content: space-between;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
